<h1 class="text-center">Vista previa</h1>

<div class="card">
    <div class="card-header text-white bg-danger">
        Filtros de Buscqueda
        <button [routerLink] = "['/nuevo-cliente']" type="button" class="btn btn-secondary border-white pull-right">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Nuevo </button>
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-form-label" for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-form-label" for="nombre">DNI:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese DNI">
                </div>
            </div>
            <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-form-label" for="nombre">Mail:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese Mail">
                    </div>
                </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-form-label" for="inputState">Estado</label>
                    <select id="inputState" class="form-control">
                        <option selected>Activo</option>
                        <option>Baja</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar </button>
    </div>
</div>

<div class="card-columns">
    <div class="card card-media" *ngFor="let p of propiedades">
        <img class="card-img-top size" src="../../assets/img/{{p.imagen}}.jpg" alt="Sin Imagen">
        <div class="card-body">
            <h4 class="card-title">{{p.direccion}}</h4>
            <p>{{p.descripcion}}</p>
            <div class="text-right">
                <button type="button" (click)="verModal(modal)" class="btn btn-outline-danger">Eliminar</button>
                <button type="button" (click)="verModal(modal)" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>