<h1 class="center-align">Propiedades</h1>
<div class="row">   
    <div class="col s6 m6" *ngFor="let p of propiedades">
        <div class="card">
        <div class="card-image">
            <img class="size" src="../../assets/img/{{p.imagen}}.jpg">
            <span class="card-title">{{p.direccion}}</span>
        </div>
        <div class="card-content ">
            <p>{{p.descripcion}}</p>
        </div>
        <div class="card-action right-align">
                        <a [routerLink]="[ '/properties' ]" class="waves-effect waves-light btn #0d47a1 blue darken-4 ">Eliminar</a>
            <a [routerLink]="[ '/properties' ]" class="waves-effect waves-light btn #0d47a1 blue darken-4 ">Editar</a>
        </div>
        </div>
    </div>   
</div>