<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-form-label" for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre">
        </div>
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label class="col-form-label" for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido">
            </div>
        </div>
</div>